.venv
myenv
dataset/
**/dataset/
mywsl/
runs/classify/train/
runs/classify/train2/
runs/classify/train3/
runs/classify/train4/
runs/classify/train5/
runs/classify/train6/
runs/classify/train7/
t.py
yolo11l-cls.pt
yolo11n.pt
yolo11x-cls.pt
yolov12n.pt
yolov8s-cls.pt
yolov8x-cls.pt